body {  /*Background image*/
    background: #42a5f5;
}

  .image {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);


  }
.image img{

border-radius:150px;
border-top: -15px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:1px 2px 5px #4B5861;
-moz-box-shadow: 1px 1px 5px #4B5861;
}



.user1 {
  background-color: #80d6ff;
  padding: 10px ;
  width: 200px;
  height: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 30%);
  text-align: center;
  font-family: Roboto;
  box-shadow: 1px 0px 5px #4B5861;
  -webkit-box-shadow:1px 2px 5px #4B5861;
}
.user2 {
  background-color: #ff77a9;
  padding: 10px ;
  width: 200px;
  height: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 30%);
  text-align: center;
  font-family: Roboto;
  box-shadow: 1px 0px 5px #4B5861;
  -webkit-box-shadow:1px 2px 5px #4B5861;
}

.positioning{
    display:block;
    position: 5px;
    height:50px;
    margin:auto;
}

#p1{
  text-align:center;
  background-color: #ff77a9;
  height:125px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  width:125px;
  vertical-align: middle;
  line-height: 125px;
  position:relative;
  left: 40%;
  right:70%;
  transform:rotate(180deg);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:1px 2px 5px #4B5861;
  -moz-box-shadow: 1px 1px 5px #4B5861;
}

#p2{
  text-align:center;
  background-color: #80d6ff;
  height:125px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  width:125px;
  vertical-align: middle;
  line-height: 125px;
  left: 40%;
  right: 70%;
  position:relative;
  top:300%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:1px 2px 5px #4B5861;
  -moz-box-shadow: 1px 1px 5px #4B5861;
}
