body {  /*Background image*/
    background: #42a5f5;
}

  .image {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);


  }
.image img{

border-radius:150px;
border-top: -15px;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
-webkit-box-shadow:1px 2px 5px #4B5861;
-moz-box-shadow: 1px 1px 5px #4B5861;
}



.user1 {
  background-color: #80d6ff;
  padding: 10px ;
  width: 200px;
  height: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 30%);
  text-align: center;
  font-family: Roboto;
  box-shadow: 1px 0px 5px #4B5861;
  -webkit-box-shadow:1px 2px 5px #4B5861;
}
.user2 {
  background-color: #ff77a9;
  padding: 10px ;
  width: 200px;
  height: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 30%);
  text-align: center;
  font-family: Roboto;
  box-shadow: 1px 0px 5px #4B5861;
  -webkit-box-shadow:1px 2px 5px #4B5861;
}
.answer1{
  width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #80d6ff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 30%);
    text-align: center;
    line-height: 100px;
    font-family: Roboto;
}
.answer2{
  width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #ff77a9;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -200%);
    text-align: center;
    line-height: 100px;
    font-family: Roboto;
}
